# 设置OpenAI的基础URL
OPENAI_BASE_URL=https://api.deepseek.com
# 设置OpenAI的API密钥
OPENAI_API_KEY=sk-xxx
# 设置主要使用的模型
MODEL_ID=deepseek-v4-pro

# 设置Langsmith的追踪
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT=xxx